# Parsing and reading the data
- This notebook just parses all the text data
- Joins the speeches dataset with the UN statistics dataset in preperation for pre-processing and EDA

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
sessions = np.arange(25, 76)
data=[]

for session in sessions:
    directory = "../../data/TXT/Session "+str(session)+" - "+str(1945+session)
    for filename in os.listdir(directory):
        f = open(os.path.join(directory, filename), errors="ignore")
        if filename[0]==".": #ignore hidden files
            continue
        splt = filename.split("_")
        data.append([session, 1945+session, splt[0], f.read()])

        
df_speech = pd.DataFrame(data, columns=['Session','Year','ISO-alpha3 Code','Speech'])
df_speech.tail()

,Session,Year,ISO-alpha3 Code,Speech
8476,75,2020,WSM,"Mr. President,\nDistinguished delegates,\nLadi..."
8477,75,2020,YEM,In the name of God the Merciful and the Compas...
8478,75,2020,ZAF,"President of the General Assembly, Secretary-G..."
8479,75,2020,ZMB,"Your excellency Mr. Volkan Bozkir, President o..."
8480,75,2020,ZWE,"Your Excellency, Ambassador Volkan Bozkir, Pre..."

In [3]:
columns = ["Country or Area", "Region Name","Sub-region Name", "ISO-alpha3 Code","Developed / Developing Countries", "Session", "Year", "Speech"]
df_codes = pd.read_csv('../data/UNSD â€” Methodology.csv', delimiter=";")
df_un_members = df_codes.merge(df_speech)[columns].set_index(["Year", "ISO-alpha3 Code"])

# Important to sort the index for further slicing
df_un_members.sort_index(level=["Year", "ISO-alpha3 Code"], ascending=[1,1], inplace=True)
df_un_members.head()

                     Country or Area Region Name  \
Year ISO-alpha3 Code
1970 ALB                     Albania      Europe
     ARG                   Argentina    Americas
     AUS                   Australia     Oceania
     AUT                     Austria      Europe
     BEL                     Belgium      Europe

                                      Sub-region Name  \
Year ISO-alpha3 Code
1970 ALB                              Southern Europe
     ARG              Latin America and the Caribbean
     AUS                    Australia and New Zealand
     AUT                               Western Europe
     BEL                               Western Europe

                     Developed / Developing Countries  Session  \
Year ISO-alpha3 Code
1970 ALB                                    Developed       25
     ARG                                   Developing       25
     AUS                                    Developed       25
     AUT                                    Developed       25
     BEL                                    Developed       25

                                                                 Speech
Year ISO-alpha3 Code
1970 ALB              33: May I first convey to our President the co...
     ARG              177.\t : It is a fortunate coincidence that pr...
     AUS              100.\t  It is a pleasure for me to extend to y...
     AUT              155.\t  May I begin by expressing to Ambassado...
     BEL              176. No doubt each of us, before coming up to ...

In [4]:
df_un_members.to_csv("un_speeches_preprocessed.csv")